.article{
    &__header{
      img{
        width: 100%;
      }
    }
    &__main{
        .article__author{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 5rem;
            &--avatar {
                width: 5.8rem;
                height: 5.8rem;
                position: absolute;
                top: -60%;
                left: 2rem;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
            }
            span{
                align-self: flex-start;
                display: inline-block;
                margin-left: 10rem;
                margin-top: .5rem;
                font-size: 1.2rem;
                
                &:last-child{
                    margin-left: auto;
                }
            }
        
        }
        .article__title{
            
            margin: 1rem 0;
            &--text{
                display: inline-block;
                font-size: 1.6rem;
                color: $color-black;
                margin-bottom: 2rem;
                transition: color .2s;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    color: $color-primary;
                }
            }
            
        }
        .article__description{
            font-size: 1.4rem;
            margin-bottom: 2rem;
            color: darken( $color-description, 20% )
        }
    }
    &__footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        &--comment{
            display: inline-block;
            margin-left: 2rem;
            font-size: 1.4rem;
            span{
                color: #99A2A3;
                cursor: pointer;
                &:not(:first-child){
                    margin-left: 2rem;
                }
                &:hover{
                    color: darken( #99A2A3, 50% )
                }
            }
       
        }
    }
  }