.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-primary;
    position: relative;
    overflow: hidden;
    transition: color .6s;
    border: none;
    cursor: pointer;
    &::before, &::after{
        position: absolute;
        content: '';
        width: 0%;
        height: 0%;
        background-color: transparent;
        transition: all .6s;
    }
    &::before{
        top: 0;
        left: 0;
        transform-origin: 0% 0%;
    }
    &::after{
        bottom: 0;
        right: 0;
        transform-origin: 100% 100%;
    }
    &:hover{
        color: $color-black;
        &::before{    
        height: 100%;
        width: 100%;
        border-top: .2rem solid $color-primary;
        border-left: .2rem solid $color-primary;
        }
        &::after{
            width: 100%;
            height: 100%;
            border-right: .2rem solid $color-primary;
            border-bottom: .2rem solid $color-primary;
        }
    }
  }