.form__group{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    &--input, &--textarea {
        display: block;
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        border: .1rem solid #dfdfdf;
        outline: none;
        transition: all .4s;
    }
    &--textarea {
        resize: none;
    }
    &--line{
        position: absolute;
        content: '';
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
        height: .2rem;
        width: 0rem;
        transition: width .4s;
    }
    &--input:focus + &--line, &--textarea:focus + &--line{
        background-color: $color-primary;
        width: 100%;
        transform-origin: center;
    }
}