.heading-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: $color-black;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.heading-2 {
    @extend .heading-1;
    font-size: 2.2rem;
    
}

.description-1{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    color: $color-description-1;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.description-2{
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    color: $color-description;
    margin-bottom: 1.5rem;
}

.description-3{
    @extend .description-2;
    font-size: 1.2rem;
    
}