
.main {
    margin-left: 22%;
    height: 100vh;
    width: 78%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 3;
    overflow: auto;
    padding-left: 1.5rem;
    .wrapper {
        position: relative;
        min-height: 100%;
        width: 100%;
        background-color: #fff;

        // @media screen and (max-width: 800px){
        //     height: auto;
        // }
    }
}


.scene {
    width: 100%;
    height: 100%;
    //perspective: calc(100% - 0rem);
    perspective: 0rem;
    .cube {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: all .4s;
        &__face {
            width: 100%;
            //height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            opacity:0;
            visibility: hidden;
            //height: 0;
            backface-visibility: hidden;
            padding: 5rem 7rem 5rem;
            &.active{
                opacity: 1;
                visibility: visible;
            }
            &--front{
                background-color: #fff;
                transform: rotateY(0deg) translateZ(0rem);
            }
            &--back{
                background-color: violet;
                background-color: #fff;
                transform: rotateY(180deg) translateZ(0rem);
            }
            &--left{
                background-color: green;
                background-color: #fff;
                transform: rotateY(-90deg) translateZ(0rem);
            }
            &--right{
                background-color: orange;
                background-color: #fff;
                transform: rotateY(90deg) translateZ(0rem);
            }
            &--top{
                background-color: orangered;
                background-color: #fff;
                transform: rotateX(90deg) translateZ(0rem);
            }
            &--bottom{
                background-color: lightblue;
                background-color: #fff;
                transform: rotateX(-90deg) translateZ(0rem);
            }
        
        

        .content {
            //height: 100%;
            // position: absolute;
            // overflow: auto;
            // display: block;
            //margin: 4rem 0rem;
            width: 100%;
            height: 100%;
            background-color: #fff;
            p {
                height: 120rem;
                display: block;
                background-color: #fff;
            }
        }
        }
    }
  }

/*.main{

    margin-left: 22%;
    height: 100vh;
    width: 78%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 3;
    padding-left: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    .wrapper{
        // width: 100%;
        // height: 100%;
        // //padding-left: 1.5rem;
        // background-color: #f5f5f5;
        // perspective: 0rem;
        //overflow: auto;

        position: relative;
        height: 100%;
        width: 100%;

        background-color: #fff;
        .scene{
            // width: 100%;
            // height: 100%;
            // transform-style: preserve-3d;
            // position: relative;
            // animation-name: spin;
            // animation-duration: 10s;
            // animation-timing-function: ease-in-out;
            // animation-iteration-count: infinite;
            // backface-visibility: hidden;
            //transition: all 1s;
            // overflow-x: hidden;
            width: 100%;
            height: 100%;
            //perspective: calc(100% - 0rem);
            perspective: 0rem;
            .cube{
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transition: all .4s;
                .face{
                    width: 100%;
                    height: 100%;
                    background-color: $color-white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    padding: 5rem 7rem 5rem;
                    
                    backface-visibility: hidden;
                    transition: all .2s;
                    //overflow: auto;
                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            
        }
    }
}



.main {
    margin-left: 22%;
    height: 100vh;
    width: 78%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 3;
    overflow: auto;
    padding-left: 1.5rem;
    .wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #fff;
    }
}


.scene {
    width: 100%;
    height: 100%;
    //perspective: calc(100% - 0rem);
    perspective: 0rem;
    .cube {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: all .4s;
        // animation: spin 10s;
        // animation-iteration-count: infinite;
        // animation-delay: 1s;
        &__face {
            width: 100%;
            height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            opacity:0;
            visibility: hidden;
            height: 0;
            backface-visibility: hidden;
            &.active{
                opacity: 1;
                visibility: visible;
            }
        }
    }
  }

.content {
    //height: 100%;
    // position: absolute;
    // overflow: auto;
    // display: block;
    margin: 4rem 0rem;
    width: 100%;
    height: 100%;
    background-color: #fff;
    // p {
    //     height: 120rem;
    //     display: block;
    //     background-color: #fff;
    // }
}

.front{
    // background-color: goldenrod;
    transform: rotateY(0deg) translateZ(70rem);
}
.left{
    // background-color: green;
    transform: rotateY(-90deg) translateZ(70rem);
}
.right{
    // background-color: orange;
    transform: rotateY(90deg) translateZ(70rem);
}
.back{
    // background-color: violet;
    transform: rotateY(180deg) translateZ(70rem);
}
.top{
    // background-color: orangered;
    transform: rotateX(90deg) translateZ(70rem);
}
.bottom{
    // background-color: lightblue;
    transform: rotateX(-90deg) translateZ(70rem);
}

@keyframes spin {
    0%{
        transform: rotateY(0deg)
      }
      50%{
        transform: rotateY(360deg)
      }
      75%{
        transform: rotateX(90deg)
      }
      90%{
        transform: rotateX(-90deg)
      }
      100%{
        transform: rotateX(0deg)
      }
}

/*

                .col{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 1.5rem;
                    background-color: #f5f5f5;
                    height: 100%;
                }

*/
