
.main {
    margin-left: 22%;
    //border: .1rem solid lightgrey;
    width: 78%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}
.wrapper {
    width: 100%;
    height: 100%;
    perspective: 170rem;
    //border: .1rem solid lightgrey;
    padding-left: 1.5rem;
    background-color: #f5f5f5;
}


.subpages{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    
    .page{
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        padding: 5rem 7rem 5rem;
        backface-visibility: hidden;
        background-color: $color-white;

        &.active{
            opacity: 1;
            visibility: visible;
            transform-origin: left;
            transform: scale(1) rotateY(0deg);
            transition: all 1.8s;
        }
        &--front{
            opacity: 1;
            transform-origin: left;
            transform: scale(1) rotateY(0deg);
            transition: all 1.8s;
        }
        &--back{
            right: 0;
            transform-origin: right;
            transform: scale(0) rotateY(90deg);
            transition: all 1.4s;
            
        }
    } 
} //end of .card
  
.fadeOutLeftAnimate {
    animation: fadeOutLeft 1.5s;
    animation-fill-mode: forwards;
    // left: 0;
    // opacity: 0;
    // visibility: hidden;
    // transform: scale(0.3) rotateY(-90deg)
}
.fadeInRightAnimate {
    animation: fadeInRight 1.4s;
    animation-fill-mode: forwards;
    // left: 0;
    // opacity: 1;
    // visibility: visible;
    // transform: scale(1) rotateY(0deg)
}
@keyframes fadeOutLeft {

    0% {
        left: 0;
        opacity: .7;
        visibility: visible;
        transform: scale(.85) rotateY(-45deg);
    }
    100%{
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(.5) rotateY(-90deg)
    }
}
  
@keyframes fadeInRight {
    0% {
        right: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(.85) rotateY(60deg);
    }
    100%{
        right: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1) rotateY(0deg)
    }
}